$button-types: default, primary, success, warning, danger;
$button-size: small, medium;

@mixin button-type-styles() {
  @each $type in $button-types {
    &.i-button--#{$type} {
      color: var(--i-button-#{$type}-color);
      background-color: var(--i-button-#{$type}-background-color);
      border-color: var(--i-button-#{$type}-border-color);

      &:hover:not(.is-disabled) {
        color: var(--i-button-#{$type}-color__hover);
        background-color: var(--i-button-#{$type}-background-color__hover);
        border-color: var(--i-button-#{$type}-border-color__hover);
      }

      &:active:not(.is-disabled) {
        color: var(--i-button-#{$type}-color__active);
        background-color: var(--i-button-#{$type}-background-color__active);
        border-color: var(--i-button-#{$type}-border-color__active);
      }

      &.is-disabled {
        color: var(--i-button-#{$type}-color__disabled);
        cursor: not-allowed;
        background-color: var(--i-button-#{$type}-background-color__disabled);
        border-color: var(--i-button-#{$type}-border-color__disabled);
      }
    }
  }
}

@mixin button-size-styles() {
  @each $size in $button-size {
    &.i-button--#{$size} {
      height: var(--i-button-height-#{$size});
    }
  }
}

.i-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--i-button-padding-x);
  font-size: var(--i-button-font-size);
  font-weight: normal;
  line-height: 1;
  color: var(--i-button-default-color);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: var(--i-button-default-background-color);
  border-color: var(--i-button-default-border-color);
  border-style: solid;
  border-width: 1px;
  outline: none;

  @include button-type-styles;
  @include button-size-styles;
}
